<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pollution & Health in the US</title>
        <link href="../../css/style.css" rel="stylesheet"/>
    </head>

    <body>

        {{{body}}}

        <footer>
            <p>&copy; 2023 Sangtawun Miller & Andrea Irwin</p>
        </footer>

    </body>
</html>