<html>
<header>
    <h1>Health Issues by City</h1>
</header>

{{!-- Nav bar for links to all pages on the site --}}
<nav>
    <a href="/">Home</a>
    <a href="/locations">Locations</a>
    <a href="/people">People</a>
    <a href="/health-problems">Health Problems</a>
    <a href="/individual-health-issues">Individual Health Issues</a>
    <a href="/city-health-issues">Health Issues By City</a>
    <a href="/pollution-by-day">Dates with Pollution Data</a>
    <a href="/daily-location-pollution">Daily Pollution in Each Location</a>
</nav>

{{!-- Health Issues by City Display Table --}}
<div id="browse">
    <h3>Browse Health Issues by City</h3>

    <table>
        <thead>

            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>

        <tbody>

            {{#each data}}
            <tr>
                <td>{{this.city_health_ID}}</td>
                <td>{{this.location_ID}}</td>
                <td>{{this.problem_ID}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- See all health issues associated with a specific city --}}
<div id="browse">
    <form id="browseCityHealthIssue">
        <legend><strong>Browse Health Issues by City</strong></legend>
        <fieldset class="fields">
            <label for="city"> Select a City: </label>
            <select name="city" id="city">
                <!-- dynamically generated drop down -->
            </select>
        </fieldset>
        <input class="btn" type="submit" id="browseCityHealthIssue" value="View All">
    </form>
</div>

{{!-- Associate a new health issue with a specific city --}}
<div id="insert">
    <form id="addCityHealthIssue">
        <legend><strong>Add Reported Health Issue to City's Records</strong></legend>
        <fieldset class="fields">
            <label for="health problem"> Select a Health Problem: </label>
            <select name="health problem" id="health problem">
                <option value="select">Select</option>
                <!-- dynamically generated drop down -->
            </select>
            <label for="city"> Select a City: </label>
            <select name="city" id="city">
                <option value="select">Select</option>
                <!-- dynamically generated drop down -->
            </select>
        </fieldset>
        <input class="btn" type="submit" id="addIndividualHealthIssue" value="Add Health Issue">
    </form>
</div>
</html>