<html>
<header>
    <h1>Pollution and Health Across the United States</h1>
</header>

{{!-- Nav bar for links to all pages on the site --}}
<nav>
    <a href="/">Home</a>
    <a href="/locations">Locations</a>
    <a href="/people">People</a>
    <a href="/healthProblems">Health Problems</a>
    <a href="/individualHealthIssues">Individual Health Issues</a>
    <a href="/cityHealthIssues">Health Issues By City</a>
    <a href="/pollutionLevelsByDay">Dates with Pollution Data</a>
    <a href="/dailyLocationPollution">Daily Pollution in Each Location</a>
</nav>

<div id="browse">
    <p><strong>This is a database that will provide information regarding pollution levels and health problems in 10
            cities in the US. <br>
            To review or edit information in the database, click on the links above.</strong></p>
</div>
</html>