<header>
    <h1>Dates with Pollution Data</h1>
</header>

{{!-- Nav bar for links to all pages on the site --}}
<nav>
    <a href="/">Home</a>
    <a href="/locations">Locations</a>
    <a href="/people">People</a>
    <a href="/health-problems">Health Problems</a>
    <a href="/individual-health-issues">Individual Health Issues</a>
    <a href="/city-health-issues">Health Issues By City</a>
    <a href="/pollution-by-day">Dates with Pollution Data</a>
    <a href="/daily-location-pollution">Daily Pollution in Each Location</a>
</nav>

{{!-- Dates with Pollution Data Display Table --}}
<div id="browse">
    <h3>Browse Dates with Pollution Data</h3>

    <table>
        <thead>

            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>

        <tbody>

            {{#each data}}
            <tr>
                <td>{{this.pollution_ID}}</td>
                <td>{{this.date_recorded}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<!-- Add new date on which data was collected -->
<div id="insert">
    <form id="add">
        <legend><strong>Add Date where Pollution Levels were Recorded</strong></legend>
        <fieldset class="fields">
            <label> Date </label> <input type="date" name="input-date" id="input-date">
        </fieldset>
        <input class="btn" type="submit" id="addPollutionDay" value="Add Date">
    </form>
</div>