{{!--
    Citation for the following View:
    Date retrieved: 2/23/2023
    Adapted from OSU NodeJS Starter App
    Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
--}}

<header>
    <h1>Dates with Pollution Data</h1>
</header>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="./js/delete_pollution_date.js"></script>

{{!-- Nav bar for links to all pages on the site --}}
<nav>
    <a href="/">Home</a>
    <a href="/locations">Locations</a>
    <a href="/people">People</a>
    <a href="/healthProblems">Health Problems</a>
    <a href="/individualHealthIssues">Individual Health Issues</a>
    <a href="/cityHealthIssues">Health Issues By City</a>
    <a href="/pollutionLevelsByDay">Dates with Pollution Data</a>
    <a href="/dailyLocationPollution">Daily Pollution in Each Location</a>
</nav>

{{!-- Dates with Pollution Data Display Table --}}
<div id="browse">
    <h3>Browse Dates with Pollution Data</h3>

    <table id="pollution-date-table">
        <thead>

            <tr>
                <th>Pollution ID</th>
                <th>Date Recorded</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>

            {{#each data}}
            <tr data-value={{this.pollution_ID}}>
                <td>{{this.pollution_ID}}</td>
                <td>{{this.date_recorded}}</td>
                <td><button onclick="deletePollutionDate({{this.pollution_ID}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<!-- Add new date on which data was collected -->
<div id="insert">
    <form id="addPollutionDate" method="POST" action="/addPollutionDate">
        <legend><strong>Add Date where Pollution Levels were Recorded</strong></legend>
        <fieldset class="fields">
            <label> Date </label> <input type="date" name="input-date" id="input-date">
        </fieldset>
        <input class="btn" type="submit" id="addPollutionDate" value="Add Date">
    </form>
</div>